.todo-page {
	background: linear-gradient(107.34deg, rgba(233, 185, 194, 0.7) 0%, rgba(226, 142, 255, 0.1) 99.69%);
	backdrop-filter: blur(50px);
	height: 100vh;
	.page-wrap {
		max-width: 1820px;
		margin: 0 auto;
	}
	.page-header {
		display: flex;
        justify-content: space-between;
        align-items: center;
		height: 80px;
        padding-top: 10px;
		.header-left {
			display: flex;
            align-items: center;
			.header-logo {
				height: 40px;
				width: 190px;
			}
			.header-nav {
				display: flex;
                gap: 20px;
                a {
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 31px;
                    color: #142668;
                }
			}
		}
        .header-right {
            display: flex;
            align-items: center;
            gap: 20px;
            .header-avatar {
                height: 60px;
                width: 60px;
            }
            .header-info {
                display: flex;
                .info-arrow {
                    height: 27px;
                    width: 27px;
                }
                h3 {
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 31px;
                    color: #142668;
                }
            }
        }
	}
    .page-container {
        padding-top: 60px;
        max-width: 1740px;
        margin: 0 auto;
        display: flex;
        gap: 50px;
        .column-item {
            width: calc(100% / 3);
            height: 740px;
            background: linear-gradient(179.12deg, rgba(255, 255, 255, 0.48) -5.85%, rgba(255, 255, 255, 0.08) 104.3%);
            border: 1px solid rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(60px);
            border-radius: 10px;
            box-sizing: border-box;
            padding: 15px;
            .column-title {
                font-family: Rubik Mono One;
                font-weight: normal;
                font-size: 26px;
                line-height: 32px;
                padding-bottom: 20px;
            }
            .container-card{
                height: calc(100% - 50px);
                overflow-y: auto;
               .card-item {
                    background: linear-gradient(92.68deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 97.71%);
                    border: 1px solid rgba(255, 255, 255, 0.9);
                    border-radius: 7px;
                    box-sizing: border-box;
                    padding: 10px;
                    margin-bottom: 20px;
                    width: calc(100% - 12px);
                    .item-action {
                        display: flex;
                        justify-content: space-between;
                        .item-title {
                            font-weight: normal;
                            font-size: 22px;
                            line-height: 28px;
                        }
                        .item-icon {
                            display: flex;
                            gap: 15px;
                            .item-wrap {
                                width: 27px;
                                height: 27px;
                            }
                        }
                    }
                    .item-content {
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 19px;
                        text-align: justify;
                        padding: 20px 0px;
                    }
                    .item-date {       
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 16px;
                        text-align: right;
                    }
               }
            }
     
        }
    }
}
.container-card::-webkit-scrollbar {
    width: 12px;
}
.container-card::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.29) 100%);
    border-radius: 9px;
}
.container-card::-webkit-scrollbar-track {
    height: 289px;                
    background: rgba(243, 78, 78, 0.3);
    border-radius: 9px;
}