.todo-page {
	background: linear-gradient(107.34deg, rgba(233, 185, 194, 0.7) 0%, rgba(226, 142, 255, 0.1) 99.69%);
	backdrop-filter: blur(50px);
	height: 100vh;
	.page-wrap {
		max-width: 1820px;
		margin: 0 auto;
	}
	.page-header {
		display: flex;
        justify-content: space-between;
        align-items: center;
		height: 80px;
        padding-top: 10px;
		.header-left {
			display: flex;
            align-items: center;
			.header-logo {
				height: 40px;
				width: 190px;
			}
			.header-nav {
				display: flex;
                gap: 20px;
                a {
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 31px;
                    color: #142668;
                }
			}
		}
        .header-right {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            gap: 20px;
            .header-avatar {
                height: 60px;
                width: 60px;
            }
            .header-info {
                display: flex;
                .info-arrow {
                    height: 27px;
                    width: 27px;
                }
                h3 {
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 31px;
                    color: #142668;
                }
            }
            .header-dropdown {
                display: none;
                position: absolute;
                width: 170px;
                left: -10px;
                top: 60px;
                z-index: 999;
                background: #F3F3F3;
                box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(50px);
                box-sizing: border-box;
                padding: 10px;
                button {
                    height: 50px;
                    width: 100%;
                    background: #0029FF;
                    opacity: 0.4;
                    border-radius: 10px;
                    color: #F3F3F3;
                }
                button:hover {
                    cursor: pointer;
                    background: burlywood;
                    color: black;
                }
                .dropdown-title {
                    font-size: 16px;
                    text-align: center;
                    padding-bottom: 10px;
                }
                .dropdown-des {
                    font-size: 13px;
                    padding-bottom: 20px;
                    text-align: center;
                }
            }
        }
        .header-right:hover .header-dropdown {
            display: block;
        }
	}
    .page-nav {
        padding-top: 40px;
        padding-left: 30px;
        a {
            font-style: normal;
            font-weight: 800;
            font-size: 25px;
            line-height: 31px;
            color: #142668;
            padding: 10px 20px; 
        }
        .active {
            border-bottom: 3px solid #142668;
        }
    }
    .wrap-button {
        display: flex;
        justify-content: flex-end;
        button {
            cursor: pointer;
            margin-right: 40px;
            background: linear-gradient(96.28deg, rgba(255, 255, 255, 0.6) 0.71%, rgba(255, 255, 255, 0.1) 100%);
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            p {
            font-weight: 700;
            font-size: 16px;
            padding: 10px 20px;
            }
        }
    }
    .page-container {
        padding-top: 20px;
        max-width: 1750px;
        margin: 0 auto;
        .column-item {
            height: 720px;
            background: linear-gradient(179.12deg, rgba(255, 255, 255, 0.48) -5.85%, rgba(255, 255, 255, 0.08) 104.3%);
            border: 1px solid rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(60px);
            border-radius: 10px;
            box-sizing: border-box;
            padding: 20px;
            .container-card{
                height: calc(100% - 20px);
                overflow-y: auto;
               .card-item {
                    background: linear-gradient(92.68deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 97.71%);
                    border: 1px solid rgba(255, 255, 255, 0.9);
                    border-radius: 7px;
                    box-sizing: border-box;
                    padding: 10px;
                    margin-bottom: 20px;
                    width: calc(100% - 12px);
                    .item-action {
                        display: flex;
                        justify-content: space-between;
                        .item-title {
                            font-weight: 600;
                            font-size: 25px;
                            line-height: 28px;
                        }
                        .item-icon {
                            display: flex;
                            cursor: pointer;
                            gap: 15px;
                            .item-wrap {
                                width: 27px;
                                height: 27px;
                            }
                        }
                    }
                    .item-content {
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 19px;
                        text-align: justify;
                        padding: 17px 0px;
                    }
                    .item-date {       
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 16px;
                    }
               }
            }
     
        }
    }
}
.container-card::-webkit-scrollbar {
    width: 12px;
}
.container-card::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0.29) 100%);
    border-radius: 9px;
}
.container-card::-webkit-scrollbar-track {
    height: 289px;                
    background: rgba(243, 78, 78, 0.3);
    border-radius: 9px;
}